
.Box {
    flex-direction: column;
}

.MuiAvatar-root {
    width: 70px !important;
    height: 70px !important;
}

.AvatarLogin {
    margin: 30px auto;    
}

.BoxLogin {
    margin: auto;
    width: 480px;
}

.ButtonLogin {
    margin-top: 30px;
}

/* responsivedade */
@media only screen and (max-width: 480px) {
    .BoxLogin {
        width: 40vh;
    }

    .MuiAvatar-root {
        width: 45px !important;
        height: 45px !important;
    }

}